@import '~src/sass/_mixins.scss';

.app-sidenav {
  position: fixed;
  height: 100vh;
  width: 22vw;
  padding-top: 64px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
  transition: all ease-in-out 0.2s;
  z-index: 2;

  &.app-sidenav__minimized {
    width: 5.5vw;
  }

  &.mobileActive {
    left: 0;
  }


  @include device(smartphone) {
    width: 61vw;
    left: -63vw;
    padding-top: 56px;
  }

  @include device(smartphone-landscape) {
    width: 40vw;
    left: -43vw;
  }

  @include device(big-smartphone) {
    width: 59vw;
    left: -61vw;
    padding-top: 56px;
  }

  @include device(big-smartphone-landscape) {
    width: 35vw;
    left: -38vw;
  }

  .app-sidenav-header {
    height: 64px;
    padding: 15px 15px 15px 25px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    @include device(smartphone) {
      height: 56px;
      padding-top: 11px;
    }

    .application {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      width: 185px;

      @include device(smartphone) {
        width: 165px;
      }
      @include device(smartphone-landscape) {
        width: 170px;
      }
    }

    .app-sidenav-toggle {
      cursor: pointer;
      padding-top: 6px;

      @include device(smartphone) {
        display: none;
      }

      @include device(smartphone-landscape) {
        display: none;
      }

      @include device(big-smartphone) {
        display: none;
      }

      @include device(big-smartphone-landscape) {
        display: none;
      }
    }
  }
}

.app-sidenav-container {
  height: 100%;

  .user {
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 136px;
    padding: 0px 0 64px;

    @include device(smartphone) {
      display: none;
    }

    @include device(smartphone-landscape) {
      display: none;
    }

    .name {
      font-weight: bold;
    }

    .email {
      font-size: 12px;
    }

    .avatar-container {
      position: absolute;
      top: 82px;
      border-radius: 50%;
      padding: 6px;
      transform: translateX(-50%);
      left: 50%;
      box-shadow: inset 0px -13px 6px -9px rgba(0,0,0,0.75);

      .avatar {
        width: 64px;
        height: 64px;
        margin: 0;
        border-radius: 50%;
      }
    }
  }

  .app-sidenav-menu {
    min-height: 100vh;
    flex: 1 1 auto;
    padding: 25px 0 90px 0;
    box-shadow: 0px -3px 6px -2px rgba(0,0,0,0.75);
    transition: all ease-in-out 0.2s;

    @include device(smartphone) {
      padding-top: 0;
    }

    @include device(smartphone-landscape) {
      padding-top: 0;
    }

    &.sidenav-compacted {
      padding-top: 0;
      padding-bottom: 0;
    }

    .menu-section {
      padding-bottom: 15px;
      transition: all ease-in-out 0.2s;

      &.sidenav-compacted {
        padding-bottom: 0;
      }

      .label-section {
        margin-bottom: 15px;
        padding-left: 25px;
        opacity: 0.5;
      }
    }

    .app-sidenav-menu_button {
      width: 100%;
      display: flex;
      align-items: center;
      height: 48px;
      padding-left: 25px;;
      font-weight: 100;

      .mat-button-wrapper{
        width: 100%;
        padding-left: 25px;
      }

      .menu-name {
        padding-left: 15px;
      }
    }
    hr {
      margin: 0;
      opacity: 0.5;
    }
  }
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: 0.5s ease 0s normal forwards 1 fadein;
}

.fade-out {
  animation: 0.2s ease 0s normal forwards 1 fadeout;
  display: none !important;
}

.mobile-sidenav_overlay {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  position: fixed;
}

.fab {
  font-size: 32px;
}
