.light-theme a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
  color: #000000 !important;
}

.default-theme .app-sidenav .sidenav-header {
  color: #FFFFFF;
}

.default-theme .sidenav-container {
  color: #FFFFFF !important;
}

.fab {
  font-size: 32px;
  font-weight: 100;
}

.light-theme .created-by {
  color: #000000 !important;
}

.default-theme .mat-menu-item,
.dark-theme .mat-menu-item,
.light-theme .mat-menu-item {
  font-family: 'Dosis Regular', Helvetica, Arial, sans-serif;
}

.light-theme .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #000000 !important;
}

.default-theme .mat-tab-group.mat-primary .mat-ink-bar,
.dark-theme .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #FFFFFF !important;
}

.dark-theme .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #FFFFFF !important;
}

.light-theme .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #000000 !important;
}

.dark-theme .mat-form-field-appearance-outline.mat-focused .mat-form-field-prefix,
.dark-theme .mat-form-field-appearance-outline.mat-focused .mat-form-field-suffix {
  color: #FFFFFF !important;
}

.light-theme .mat-form-field-appearance-outline.mat-focused .mat-form-field-prefix,
.light-theme .mat-form-field-appearance-outline.mat-focused .mat-form-field-suffix {
  color: #000000 !important;
}


.light-theme .mat-form-field-prefix,
.light-theme .mat-form-field-suffix {
  color: lightgray !important;
}

.dark-theme .mat-form-field-prefix,
.dark-theme .mat-form-field-suffix {
  color: rgba(255, 255, 255, 0.3) !important;
}

.mat-tab-group {
  height: 100%;
}

.default-theme .mat-tab-body-wrapper,
.dark-theme .mat-tab-body-wrapper,
.light-theme .mat-tab-body-wrapper {
  height: 100%;
}

.default-theme .mat-tab-header,
.dark-theme .mat-tab-header,
.light-theme .mat-tab-header {
  margin-bottom: 15px;
}

.light-theme .app-notification-center {
  color: #000000 !important;
}

.light-theme .mat-tab-label {
  color: #000000 !important;
}

.default-theme .mat-tab-label,
.dark-theme .mat-tab-label {
  color: #FFFFFF !important;
}

.default-theme .alert-dismissible,
.dark-theme .alert-dismissible,
.light-theme .alert-dismissible {

  .close {
    background-color: transparent;
    border: 0;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    padding: 0.5rem .45rem;
  }
}

.alert {
  font-size: 16px;
  position: relative;
  padding: 0.3rem 1rem;
}


.default-theme .mat-form-field-appearance-outline .mat-form-field-outline,
.dark-theme .mat-form-field-appearance-outline .mat-form-field-outline,
.light-theme .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0.5em;
  bottom: 0.2em;
}

.default-theme .mat-form-field-wrapper,
.dark-theme .mat-form-field-wrapper,
.light-theme .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

.mat-button .mat-button-wrapper>*,
.mat-fab .mat-button-wrapper>*,
.mat-flat-button .mat-button-wrapper>*,
.mat-icon-button .mat-button-wrapper>*,
.mat-mini-fab .mat-button-wrapper>*,
.mat-raised-button .mat-button-wrapper>*,
.mat-stroked-button .mat-button-wrapper>* {
  vertical-align: middle;
}

.dark-theme .mat-button,
.light-theme .mat-button,
.default-theme .mat-button,
.dark-theme .mat-raised-button,
.light-theme .mat-raised-button,
.default-theme .mat-raised-button {
  font-size: 16px;
  font-weight: 600;
}

.dark-theme .mat-raised-button,
.light-theme .mat-raised-button,
.default-theme .mat-raised-button {
  margin: 0 0px 16px 0;
}


.mat-button .mat-button-wrapper>.language-selected {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center;
  align-items: center
}

.light-theme .mat-input-element {
  color: #000000;
}

.dark-theme .mat-input-element {
  color: #FFFFFF;
}

.default-theme .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
.dark-theme .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.light-theme .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-1.59375em) scale(0.75);
  transform: translateY(-1.55em) scale(0.75);
  width: 133.33333333%;
}

.dark-theme .mat-form-field.mat-focused .mat-form-field-label {
  color: #FFFFFF !important;
}

.light-theme .mat-form-field.mat-focused .mat-form-field-label {
  color: #000000 !important;
}

.mr-8 {
  margin-right: 8px;
}

.default-theme .mr-16,
.dark-theme .mr-16,
.light-theme .mr-16 {
  margin-right: 16px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.w-100-p {
  width: 100%;
}

.w-240 {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}
