@import '~@angular/material/theming';
@include mat-core();

@mixin global-theme ($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .pace .pace-progress {
    background: mat-color($accent);
  }

  .notifications_tab-active {
    background-color: mat-color($foreground, text);
    color: mat-color($primary);
  }

  .app-header {
    background-color: mat-color($primary);
  }

  .app-header_wrapper {
    color: mat-color($background, background);
  }

  .content,
  .app-card_body {
    background-color: mat-color($background, background);
    color: mat-color($foreground, text);
  }

  .app-sidenav-header,
  .app-footer,
  .app-sidenav-container,
  .mat-menu-item,
  .mat-menu-item .mat-icon:not([color]),
  .mat-menu-item-submenu-trigger::after,
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick,
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-prefix,
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-suffix,
  .mat-nav-list .mat-list-item,
  .mat-input-element,
  .mat-form-field.mat-focused .mat-form-field-label,
  .app-main_title,
  .app-header_wrapper,
  .mat-icon-button,
  .mat-raised-button.mat-accent {
    color: mat-color($foreground, text);
    caret-color: mat-color($foreground, text);
  }

  .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: mat-color($foreground, text);
  }

  .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
  .mat-slide-toggle.mat-warn .mat-ripple-element {
    background-color: rgba(198,198,198, 0.5);
  }

  .app-sidenav,
  .app-footer,
  .app-notification-center,
  .app-sidenav-menu,
  .mat-menu-panel,
  .main-title,
  .today-content,
  .notifications-content {
    background-color: mat-color($primary);
  }

  .app-sidenav-header,
  .app-sidenav-container,
  .avatar-container {
    background-color: darken(mat-color($primary), 20%);
    color: mat-color($foreground, text);
  }

  .app-main,
  .ps,
  .today-content,
  .app-notification-center_header,
  .notifications-content,
  .menu-children {
    background-color: darken(mat-color($primary), 5%);
    color: mat-color($foreground, text);
  }

  .app-card_header {
    background-color: mat-color($primary);
    border-bottom: solid 1px mat-color($accent);
    color: mat-color($foreground, text);
  }

  .router-link-active {
    background-color: darken(mat-color($primary), 5%);
    border-right: solid 5px mat-color($accent);
    transition: ease-in-out 0.2s all;
  }

  .router-link-active.app-sidenav-menu_button-minimized {
    border-right: solid 5px mat-color($accent);
  }

  .footer_created-by {
    color: mat-color($background, background);
    font-weight: 100;
  }

  a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]), caret-color {
    color: mat-color($foreground, text);
    font-weight: bold;
  }

  .mat-fab.mat-accent {
    color: mat-color($foreground, text);
  }
}

$default-primary: mat-palette($mat-deep-purple, 600);
$default-accent: mat-palette($mat-orange, 600);
$default-warn: mat-palette($mat-red, 600);
$default-foreground: mat-palette($mat-deep-purple, 900);
$default-theme: mat-dark-theme($default-primary, $default-accent, $default-warn);

$dark-primary: mat-palette($mat-gray, 700);
$dark-accent: mat-palette($mat-blue, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$light-primary: mat-palette($mat-grey, 200);
$light-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$light-warn: mat-palette($mat-deep-orange, 500);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.default-theme {
  @include angular-material-theme($default-theme);
  @include global-theme($default-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include global-theme($dark-theme);
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include global-theme($light-theme);
}
