<div class="app-footer" [ngClass]="{maximized: maximized}">
  <span class="created-by">Desenvolvido por
    <strong>
      <a href="https://www.linkedin.com/in/bruno-moura-nascimento-9a629089/" target="_blank">
        Bruno Nascimento
      </a>
    </strong>
    2018
  </span>
  <div class="socials">
    <a href="https://github.com/brunomouranascimento" target="_blank" class="icon ion-logo-github"></a>
    <a href="https://www.facebook.com/bruno.gonzalesnascimento" target="_blank" class="icon ion-logo-facebook"></a>
    <a href="https://twitter.com/BrunoMouraN" target="_blank" class="icon ion-logo-twitter"></a>
    <a href="https://www.linkedin.com/in/bruno-moura-nascimento-9a629089/" target="_blank" class="icon ion-logo-linkedin"></a>
  </div>
</div>
