@import "~src/sass/_mixins.scss";

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  padding: 10px 16px 10px 16px;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 78vw;
  transition: ease-in-out 0.2s all;

  &.app-footer__maximized {
    width: 94.5vw;
  }

  @include device(smartphone) {
    display: none;
  }
  @include device(smartphone-landscape) {
    width: 100vw;
  }
  @include device(big-smartphone) {
    width: 100vw;
  }
  @include device(big-smartphone-landscape) {
    width: 100vw;
  }

  .app-footer_created-by {
    font-size: 14px;
  }

  .app-footer_socials {
    display: flex;
    justify-content: space-between;
    width: 100px;

    .fab {
      font-size: 20px;
      font-weight: 100;
    }
  }
}
