<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>

<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
<p>
  home works!
</p>

<button mat-raised-button class="btn-primary">Teste de cor neutra</button>
<button mat-raised-button color="primary">Teste de cor primária</button>
<button mat-raised-button color="accent">Teste de cor secundária</button>
<button mat-raised-button color="warn">Teste de cor de alerta</button>
<button mat-raised-button disabled>Teste de botão desabilitado</button>
