@import "~src/sass/_mixins.scss";

.app-notification-center {
  margin: 0;
  padding: 15px 30px;
  list-style: none;
  color: #FFFFFF;
  box-shadow: -7px 1px 6px -2px rgba(0, 0, 0, 0.24);
  height: 100%;
  right: -30vw;
  top: 0;
  width: 30vw;
  overflow-y: auto;
  z-index: 5;
  transition: 0.3s ease-in-out;
  position: fixed;
  opacity: 0;

  @include device(smartphone) {
    right: -70vw;
    width: 70vw;
  }

  @include device(smartphone-landscape) {
    right: -60vw;
    width: 60vw;
  }

  @include device(big-smartphone-landscape) {
    right: -60vw;
    width: 60vw;
  }

  .app-notification-center_wrapper {
    list-style: none;
    white-space: normal;
    height: 100%;
  }
}

.open {
  transform: translate(-30vw, 0);
  opacity: 1;

  @include device(smartphone) {
    transform: translate(-70vw, 0);
  }
  @include device(smartphone-landscape) {
    transform: translate(-60vw, 0);
  }

  @include device(big-smartphone-landscape) {
    transform: translate(-60vw, 0);
  }
}

.notification-overlay {
  height: 100vh;
  width: 100vw;
  z-index: 4;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  position: fixed;
}


.example-tab-icon {
  margin-right: 8px;
}


.notifications-control {
  padding-bottom: 15px;
}

.notifications-controls_down {
  display: flex;
  justify-content: space-around;
}
.now {
  padding-top: 15px;
  font-size: 36px;
  text-align: left;
}

.notifications-nope {
  text-align: center;
}
