<div [ngClass]="{open: isActive}" class="app-notification-center" color="primary">
  <!-- <div class="app-notification-center_wrapper">
    <mat-tab-group>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">today</mat-icon>
          <span class="tab-name">Hoje</span>
        </ng-template>
        <p class="now">{{ now }}</p>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matBadge="{{ notificationsCount }}" matBadgeColor="warn" [matBadgeHidden]="!notificationsCount">notifications</mat-icon>
          <span class="tab-name">Notificações</span>

        </ng-template>

        <div class="notifications-control">
          <div class="silenciar">
            <mat-slide-toggle>Silenciar notificações</mat-slide-toggle>
          </div>

          <perfect-scrollbar>
            <div class="notifications-list">
              <app-alert *ngFor="let alert of alerts" [type]="alert.type" (click)="dismissNotification(alert)">{{
                alert.msg }}</app-alert>
            </div>
          </perfect-scrollbar>
        </div>
        <p class="notifications-nope" *ngIf="!alerts.length">Nenhuma notificação!</p>
        <br>
        <hr>
        <p class="notifications-nope">Controles</p>
        <div class="notifications-controls_down">
          <button mat-raised-button class="btn-primary" (click)="resetNotifications()">Reset</button>
          <button mat-raised-button color="warn" class="btn-block" (click)="clearNotifications()">
            <span>
              <i class="fas fa-trash"></i>
            </span>
            Limpar
          </button>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div> -->
  <div class="app-notification-center_header">
    <div class="app-notification-center_header-wrapper">
      <div class="today notifications_tab-active" [ngClass]="{'notifications_tab-active': todayTabActive}" (click)="toggleTodayTab()">
        <mat-icon>calendar_today</mat-icon>
        <span class='today_label'>Hoje</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="notifications" [ngClass]="{'notifications_tab-active': notificationsTabActive}" (click)="toggleNotificationsTab()">
        <mat-icon class='notifications_icon'>notifications</mat-icon>
        <mat-icon class='notifications_icon-mobile'>notifications</mat-icon><span class='notifications_icon-mobile'>({{notificationsCount}})</span>
        <span class='notifications_label' *ngIf="notificationsCount">Notificações ({{notificationsCount}})</span>
        <span class='notifications_label' *ngIf="!notificationsCount">Notificações</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="do-not-disturb">
    <span style="display: flex;">
      <mat-icon>notifications_off</mat-icon>
      Silenciar notificações
    </span>
    <mat-slide-toggle color="warn"></mat-slide-toggle>
  </div>

  <hr>
  <perfect-scrollbar>
    <div class="today-content" [ngClass]="{'fade-in': todayTabActive, 'fade-out': !todayTabActive}">
      <p class="now">{{ now }}</p>
    </div>
    <div class="notifications-content" [ngClass]="{'fade-in': notificationsTabActive, 'fade-out': !notificationsTabActive}">
      <app-alert *ngFor="let alert of alerts" [type]="alert.type" (click)="dismissNotification(alert)">{{
        alert.msg }}</app-alert>
    </div>
  </perfect-scrollbar>


</div>

<div [ngClass]="{active: isActive}" class="notification-overlay" (click)="closeNotificationCenter(false)"></div>
