<div class="app-dashboard">
  <div class="row">
    <div class="col-md-6">
      <app-card label="Chart" size="medium" flippable="true">
        <div class="front">

        </div>
        <div class="back">

        </div>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card label="Chart" size="medium" flippable="true">
        <div class="front">

        </div>
        <div class="back">

        </div>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-card label="Chart" size="large" flippable="true">
        <div class="front">

        </div>
        <div class="back">

        </div>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-card label="Chart" size="large" flippable="true">
        <div class="front">

        </div>
        <div class="back">

        </div>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-card label="Chart" size="large">
        <div class="front">

        </div>

      </app-card>
    </div>
  </div>
  <button mat-fab color="accent" matTooltip="Adicionar widget" matTooltipPosition="above" ><mat-icon>edit</mat-icon></button>
</div>

