<!-- <app-pace-bar></app-pace-bar>
<div class="app">
  <div class="app-wrapper">
    <div class="app-container">
      <app-sidenav></app-sidenav>
      <main>
        <div class="main-container">
          <app-header>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </app-header>
          <app-main></app-main>
        </div>
      </main>
    </div>
  </div>
</div> -->


<app-sidenav></app-sidenav>
