.notification-overlay {
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  position: fixed;
}

.erp-notification-center {
  margin: 0;
  padding: 15px;
  list-style: none;
  background-color: #FAFAFA;
  color: gray;
  -webkit-box-shadow: -7px 1px 6px -2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -7px 1px 6px -2px rgba(0, 0, 0, 0.24);
  box-shadow: -7px 1px 6px -2px rgba(0, 0, 0, 0.24);
  height: 100%;
  right: -350px;
  top: 0;
  width: 350px;
  overflow-y: auto;
  z-index: 10000;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 6s ease-in-out;
  transition: 0.3s ease-in-out;
  position: fixed;
  opacity: 0;

  .notification-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.open {
  -o-transform: translate(-350px, 0);
  -moz-transform: translate(-350px, 0);
  -ms-transform: translate(-350px, 0);
  -webkit-transform: translate(-350px, 0);
  transform: translate(-350px, 0);
  opacity: 1;
}
