@import '~src/sass/_mixins.scss';

.app-main {
  position: relative;
  float: right;
  bottom: 0;
  width: 78vw;
  height: 100vh;
  transition: ease-in-out 0.2s all;

  @include device(smartphone) {
    width: 100vw;
  }
  @include device(smartphone-landscape) {
    width: 100vw;
  }
  @include device(big-smartphone) {
    width: 100vw;
  }

  &.app-main__maximized {
    width: 94.5vw;
  }

  .app-main_container {
    margin: 90px 20px 70px 20px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;

    .app-main_content {
      min-height: calc(100vh - 160px);
    }
  }
}


