@import '~src/sass/_mixins.scss';

.app-main {
  position: relative;
  float: right;
  bottom: 0;
  width: 78vw;
  height: 100vh;
  transition: ease-in-out 0.2s all;

  @include device(smartphone) {
    width: 100vw;
  }
  @include device(smartphone-landscape) {
    width: 100vw;
  }
  @include device(big-smartphone) {
    width: 100vw;
  }

  .app-main_container {
    margin: 90px 20px 70px 20px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    .app-main_title {
      height: 56px;
      padding: 12px 25px;
      display: flex;
    justify-content: space-between;
    }
    .app-main_content {
      padding: 15px;
      background-color: #EBEBEB;
      min-height: calc(100vh - 216px);
    }
  }
}

.app-main__maximized {
  width: 94.5vw;
}
